@{
    ViewBag.Title = "Acerca De";
}

<h2>Acerca</h2>
<p>
     Estas es una prueba realizada por Diego A. Rodriguez Peralta, con el fin de demostrar las capacidades  y habilidades para posicion de Desarrollador Junior.
</p>
