<html>
<head>
  <title>WOMYADS</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="css/Site.css" />
</head>
<body>
  <div>
    <div>   
        <h1><center>WOMYADS TE DA LA BIENVENIDA... REGISTRATE AQUI... </center></h1>
    </div>      
     <div align="center">
        <img src="../../Content/themes/base/images/Womyads_P.png" />
    </div>
    <div>
        <center><p>​WOMYADS es una herramienta publicitaria basada en el voz a voz online que potencializa al máximo la inversión de los anunciantes, además de ofrecerle una amplia y segmentada red de influenciadores latinoamericanos.</p></center>
    </div>
    <footer>
      <p>&copy; 2012 DGo. All Rights Reserved</p>
    </footer>
  </div>
</body>
</html>
